@import url('https://fonts.googleapis.com/css?family=Cantarell|Monda');
body{
  font-family: 'Cantarell', sans-serif;

}
.header{
  background-color:#ccc;
  height:40px;
  font-size:25px;
  font-family: 'Monda', sans-serif;
  text-align: center;
}
.command-wrap{
  /* margin:10px; */
  margin-top:0px;
  background-color:#ccc;
  padding:10px;
  /* border:1px solid red; */
  /* text-align: center; */
}
.command-wrap>div{
  /* border:1px solid green; */
  display: inline-block;
}
.input-wrap{
  width:90%;
}

.input-wrap input[type=text]{
  width:100%;
  /* height:20px; */
  padding: 16px 0px;
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline:none;
  border:none;
  font-size:20px;

}
.button-wrap{
  width:10%;
  /* background-color:transparent; */
}
.button-wrap input{
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border:1pc solid lightcoral;
  font-size:20px;
  /* background-color:transparent; */
  outline:none;
}

.tasks{
  /* border:1px solid red; */
  height:80vh;
  /* overflow: auto; */
  width:100%;
  margin:0px auto;
  padding:20px 10px;
}

.task span{
  font-size: 30px;
}
.task{
  /* border:1px solid green; */
  margin:10px auto;
  padding:20px 10px;
  border-radius:5px;
  box-shadow: 2px 3px 10px #ccc;
  border:.5px solid #ccc;
  width:90%;
}
.task:hover{
  background-color: rgb(0, 0, 0, 0.1);
  transition:.4s ease-in-out
}








#space > div{
  width:60%;
  margin:auto;
  /* margin-top:10%; */
  font-family: 'Cantarell', sans-serif;
}

#space  input{
  display: block;
  width:80%;
  margin:15px auto;
  padding:10px 10px;
}
#signup,#login{
  width:100%;
  /* background:#CCCCCC; */
  box-shadow: 3px 3px 10px 2px #ccc;
  border-radius:5px;
  padding-top:20px;
  margin-top: 20px;
}

#signup{
  /* border:1px solid red; */
  text-align: right;

}
  
#space input{
  border-radius:5px;
  border:1px solid #ccc;
}
#login{
  text-align: right;
}

.yellow{
  /* background-color:gold; */
  border-bottom:3px solid red;

}

#buttons{
  /* height:100px; */
  /* background:#2c3e50; */
  margin-left:5px;
}
#buttons > p {
  box-shadow: 3px 3px 10px 2px #ccc;
  border-radius:5px;
  width:49.95%;
  display: inline-block;
  /* color:white; */
  text-align:center;
  margin:0;
  padding:10px 0px;
}

#buttons > p:hover{
  cursor:pointer;
} 
#signup > button{
  padding:10px;
  margin:10px 10px ;
  border:none;
  border-radius:5px;
}

#login  button{
  padding:10px;
  margin:10px 10px ;
  border:none;
  border-radius:5px;
}

